<% layout('layouts/boilerplate')%>

<body  style="background-color: rgb(171, 221, 221);">
    <div style="margin-top: 20%; text-align: center; text-shadow: aquamarine; color:teal;"><h1>WELCOME</h1></div>
    <div style="color: teal;text-align: center;"><p>Share your experiences here!!</p></div>

